body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2rem;
}

.board-container {
    display: flex;
    justify-content: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(var(--board-size), 50px);
    grid-template-rows: repeat(var(--board-size), 50px);
    gap: 5px;
    margin: 20px;
    /*margin: 20px auto;*/ /* 水平置中 */
    /*width: max-content;*/ /* 讓寬度自適應格子總寬 */
}

button {
    width: 50px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
}

    button.revealed {
        background-color: #d3d3d3;
        cursor: default;
    }

    button.mine {
        background-color: red;
        color: white;
    }

    button.mark {
        background-color: green;
        color: white;
    }

#start-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    width: 10vw; /* 10% 的視窗寬度 */
}

.highlight {
    background-color: yellow; /* 或其他顏色 */
}